<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vendas
                <small> - {{tipoImovel}} para venda</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li>{{finalidadeImovel}}</li>
                <li class="active">{{tipoImovel}}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Filters -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Sem filtros aplicados !</h4>
        </div>
    </div>
    <!-- Filters -->
    <div class="row">
        <div class="col-md-12">
            <h4>Filtro de Pesquisa:</h4>
        </div>
        <div class="col-md-12">
            <form action="#/search" method="POST" name="form_search" id="form_search" class="form-inline">
                <div class="table-responsive">
                    <table border="0" cellspacing="0" cellpadding="0" class="table">
                        <tbody>
                        <tr>
                            <th>Cód. Imóvel:</th>
                            <th>Modalidade:</th>
                            <th>Cidade:</th>
                            <th>Bairro:</th>
                            <th>Rua:</th>
                            <th>Nº Dorm.:</th>
                            <th>Valores Entre:</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td align="left">
                                <input name="codigo" id="codigo" type="text" class="form_int form-control" size="10">
                            </td>
                            <td align="left">
                                <select id="finalidade" name="finalidade" class="form_int form-control" style="float: none;">
                                    <option>[Selecione]</option>
                                    <option value="Residêncial">Residêncial</option>
                                    <option value="Comercial">Comercial</option>
                                </select>
                            </td>
                            <td align="left">
                                 <select id="cidade_value" name="cidade_value" class="form_int form-control" style="float: none;">
                                    <option>[Selecione]</option>
                                    <option>Canoas</option>
                                    <option>Porto Alegre</option>
                                    <option>Sapucaia</option>
                                    <option>Esteio</option>
                                 </select>
                            </td>
                            <td align="left">
                                <input id="bairro" name="bairro" type="text" class="form_int form-control" size="10">
                            </td>
                            <td align="left">
                                <input id="rua" name="rua" type="text" class="form_int form-control" size="10">
                            </td>
                            <td align="left">
                                <select id="dormitorios" name="dormitorios" class="form_int form-control" style="float: none;">
                                    <option>........</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </td>
                            <td align="left">
                                <select id="valor_inicial" name="valor_inicial" class="form_int form-control" style="float: none;width:100px;display:inline;">
                                    <option>[Selecione]</option>
                                    <option value="100">100,00</option>
                                    <option value="500">500,00</option>
                                    <option value="1000">1.000,00</option>
                                    <option value="2000">2.000,00</option>
                                    <option value="3000">3.000,00</option>
                                    <option value="5000">5.000,00</option>
                                    <option value="10000">10.000,00</option>
                                    <option value="50000">50.000,00</option>
                                    <option value="100000">100.000,00</option>
                                    <option value="200000">200.000,00</option>
                                    <option value="300000">300.000,00</option>
                                    <option value="500000">500.000,00</option>
                                    <option value="1000000000">1.000.000,00</option>
                                    <option value="10000000000">10.000.000,00</option>
                                </select>
                            </td>
                            <td align="left">
                                <select id="valor_final" name="valor_final" class="form_int form-control" style="float: none;width:100px;display:inline;">
                                    <option>[Selecione]</option>
                                    <option value="100">100,00</option>
                                    <option value="500">500,00</option>
                                    <option value="1000">1.000,00</option>
                                    <option value="2000">2.000,00</option>
                                    <option value="3000">3.000,00</option>
                                    <option value="5000">5.000,00</option>
                                    <option value="10000">10.000,00</option>
                                    <option value="50000">50.000,00</option>
                                    <option value="100000">100.000,00</option>
                                    <option value="200000">200.000,00</option>
                                    <option value="300000">300.000,00</option>
                                    <option value="500000">500.000,00</option>
                                    <option value="1000000000">1.000.000,00</option>
                                    <option value="10000000000">10.000.000,00</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10" align="right">
                                <input type="button" class="btn btn-default" value="Pesquisar" />
                                <!--a href="#" onclick="form_search.submit();">
                                    <img src="http://media.imobiliariaflorenca.com.br/images/bot_busca.png" alt="pesquisar" title="pesquisar" width="50" height="30">
                                </a-->
                            </td>
                        </tr>
                    </tbody></table>
                </div>
            </form>
        </div>
    </div>

    <!-- Project One -->
    <div class="row" ng-repeat="item in imoveis" ng-if="imoveis">
        <div class="col-md-7">
            <a href="/#imovel/{{::item.imovel.slug}}">
                <img class="img-responsive img-hover" src="{{::item.resource_path}}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Código: {{::item.imovel.codigo}}</h3>
            <h4>Casa de 01 Dormitório</h4>
            <p ng-bind-html="item.imovel.descricao | escapeHtml"></p>
            <a class="btn btn-primary" href="/#imovel/{{::item.imovel.slug}}">Detalhes</i></a>
        </div>
    </div>

    <hr>

    <div class="row" ng-if="!imoveis">
        <div class="col-md-12 text-center">
            <p>Sem registros !</p>
        </div>
    </div>

    <hr>

    <!-- Pagination
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div-->
    <!-- /.row -->

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>

</div>
<!-- /.container -->
