<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Como alugar
                <small> - Coloque seu Imóvel para alugar conosco</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active">Como Alugar</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <h4 style="margin: 5px 0px;">CONFIRA A RELAÇÃO DE DOCUMENTOS PARA LOCAÇÃO DE IMÓVEIS:</h4>
            <h5 style="margin: 20px 0px;"><strong>DOCUMENTAÇÃO EXIGIDA DO LOCATÁRIO(A)</strong></h5>
            <h5 style="color: #072855;font-weight:bold;">PESSOA FÍSICA</h5>
            <ul>
                <li>*CPF, RG e Titulo de Eleitor do locatário. Se casado(a) ou tem companheira(o) é necessário cópias e originais da documentação do cônjuge.</li>
                <li>Comprovante do estado civil (certidão de nascimento / casamento / declaração de união estável / convivência / separação / óbito) atualizado.</li>
                <li>Comprovante de residência atualizado (conta de telefone, luz ou água ).</li>
                <li>Comprovante de renda atualizado, cujo valor comprovado seja no mínimo 3 (três) vezes o valor do aluguel do imóvel pretendido.</li>
            </ul>
            <p class="default" style="margin-bottom:5px;"><strong>Empregado registrado:</strong> Holerite / contra-cheque e carteira profissional.</p>
            <p class="default"><strong>Profissional liberal, empresário ou autônomo:</strong> apresentar cópia do DECORE expedido pelo Contador responsável pela escrita da firma, e os documentos da empresa, ou seja, Contrato Social e/ou Contrato de Firma Individual  com as três últimas alterações e cartão do CNPJ atualizado.</p>
            <h5 style="color: #072855;font-weight:bold;">PESSOA JURÍDICA</h5>
            <ul>
                <li>Contrato Social e 3 últimas alterações.</li>
                <li>Último balanço e balancete.</li>
                <li>Alvará atualizado.</li>
                <li>Cartão do CNPJ.</li>
                <li>Declaração de IR com recibo de entrega do último exercício.</li>
                <li>Inscrição Estadual.</li>
                <li>CPF, RG, Título de Eleitor, comprovante de estado civil, comprovante de residência e telefone dos Sócios Gerentes (do casal se for o caso).</li>
                <li>Declaração de Imposto de Renda dos Sócios, com recibo de entrega do último exercício.</li>
                <li>Certidão Negativa de Protesto de Títulos (tabelionato) do domicílio.</li>
                <li>Certidão Negativa de processo cível, criminal (Justiça Estadual-Foro), trabalhista (Justiça do Trabalho) e Justiça Federal (<a href="http://www.trf4.jus.br/trf4/" target="_blank">http://www.trf4.jus.br/trf4/</a>), do domicílio.</li>
                <li>No caso de haver procuração por instrumento público, deverá ser apresentada COPIA AUTENTICADA DA SEGUNDA VIA ATUALIZADA.</li>
            </ul>
            <h5 style="margin: 20px 0px;"><strong>DOCUMENTAÇÃO EXIGIDA DO FIADOR (A):</strong></h5>
            <h5 style="color: #072855;font-weight:bold;">PESSOA FÍSICA</h5>
            <ul>
                <li>*CPF, RG e Titulo de Eleitor do locatário. Se casado(a) ou tem companheira(o) é necessário cópias e originais da documentação do cônjuge.</li>
                <li>Comprovante do estado civil (certidão de nascimento / casamento / declaração de união estável / convivência / separação / óbito) atualizado.</li>
                <li>Comprovante de residência atualizado (conta de telefone, luz ou água ).</li>
                <li>Comprovante de renda atualizado, cujo valor comprovado seja no mínimo 3 (três) vezes o valor do aluguel do imóvel pretendido.</li>
            </ul>
            <p class="default" style="margin-bottom:5px;"><strong>Empregado registrado:</strong> Holerite / contra-cheque e carteira profissional.</p>
            <p class="default"><strong>Profissional liberal, empresário ou autônomo:</strong> apresentar cópia do DECORE expedido pelo Contador responsável pela escrita da firma, e os documentos da empresa, ou seja, Contrato Social e/ou Contrato de Firma Individual  com as três últimas alterações e cartão do CNPJ atualizado.</p>
            <ul>
                <li>Declaração de Imposto de Renda, com recibo de entrega do último exercício.</li>
                <li>Certidão Negativa de processo; cível, criminal (Justiça Estadual-Foro), trabalhista (Justiça do Trabalho), Justiça Federal (<a href="http://www.trf4.jus.br/trf4/" target="_blank">http://www.trf4.jus.br/trf4/</a>), do domicílio.</li>
                <li>Certidão Negativa de Protesto de Títulos (tabelionato) do domicílio.</li>
                <li>Se casado(a) ou tem companheira(o) é necessário cópias e originais da documentação da(o) cônjuge e certidão negativa Cível, criminal e federal, do domicílio.</li>
                <li>Certidão da matricula ATUALIZADA ORIGINAL dos bens imóveis ( IMÓVEL QUITADO).</li>
            </ul>
            <h5 style="margin: 20px 0px;color:orange;font-weight:bold;">ATENÇÃO</h5>
            <p class="default">Os documentos de CPF, RG e Título de Eleitor deverão ser apresentados mediante cópia autenticada, demais documentos originais.</p>
            <p class="default">Sempre que se fizer necessário a administradora se reserva no direito de exigir outros documentos pertinentes à locação.</p>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>
</div>
<!-- /.container -->
