<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Documentação Necessária
                <small> - Coloque seu imóvel para venda conosco</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active">Documentação Necessária</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <p class="default">
                Se você deseja vender ou comprar um imóvel, assessoramos você neste processo, desde o momento da assinatura da autorização até a conclusão da venda. Para você cliente, disponibilizamos toda assessoria necessária para suas transações.

            </p>
            <p class="default">
                Verifique a documentação necessária para a Compra e Venda de imóveis:
            </p>
            <ul>
                    <li>Matrícula atualizada do imóvel.</li>
                    <li>Certidão negativa de débito de IPTU.</li>
                    <li>Documento de identidade do proprietário e do cônjuge.</li>
                    <li>CPF do proprietário e do cônjuge.</li>
                </ul>
            <p class="text-center"><a href="#/cadastro-imovel" title="Cadastre o seu imóvel conosco.">Clique aqui e preencha os dados do seu imóvel para agilizar seu atendimento.</a></p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>

</div>
<!-- /.container -->
