<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Como alugar
                <small> - Coloque seu Imóvel para alugar conosco</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active">Como Alugar</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <h4>O que oferecemos:</h4>
            <p class="default">Ao locador dispomos de uma assessoria integral na administração dos imóveis, não o envolvendo na burocracia da feitura e análise de documentos, vistoria, elaboração de contratos, cobrança de aluguéis e encargos da locação. Oferecemos departamento jurídico com assessoria via extrajudicial, ou judicial.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Qual a documentação necessária:</h4>
            <p class="default">Ao locador a documentação necessária é a certidão atualizada do imóvel, comprovante de endereço, CPF e documento de identidade.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>
</div>
<!-- /.container -->
