<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contato
                <small> - Localização e Deixe a sua mensagem</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active"><i class="fa fa-envelope-o"></i> Contato</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3458.100166039913!2d-51.18223838531175!3d-29.91901838192816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197aa78295a04d%3A0xa22fee69cd9f1204!2sR.+Quinze+de+Janeiro%2C+290+-+Centro%2C+Canoas+-+RS%2C+Brazil!5e0!3m2!1sen!2sbr!4v1459626676039" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Localização</h3>
            <p>
                Rua 15 de Janeiro nº 290<br>Conj. 202 - Centro - Canoas/RS.<br>
            </p>
            <p><i class="fa fa-phone"></i>
                <abbr title="Nossos telefones coorporativos.">Fones</abbr>: (51) 3031.5746 e (51) 3472.5746</p>
            <p><i class="fa fa-envelope-o"></i>
                <abbr title="E-mail de contato da Imobiliária Florença.">E-mail</abbr>:contato@imobiliariaflorenca.com.br
            </p>
            <p><i class="fa fa-clock-o"></i>
                <abbr title="Prontos para atendê-lo !">Horário de Funcionamento</abbr>: <br/> Seg à Sex: 9:00 às 12:00 | 14:00 às 18:00 horas.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-md-8">
            <h3><i class="fa fa-envelope-o"></i> Deixe sua mensagem</h3>
            <p>Deixe aqui a sua mensagem que com certeza entraremos em contato com você.</p>
            </br>
            <form name="sentMessage" id="contactForm" accept-charset="UTF-8" method="post" action="bin/contact_me.php">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Nome Completo:</label>
                        <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Por favor, informe o seu nome." placeholder="Informe o seu nome.">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Telefone:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Por favor, informe o seu telefone." placeholder="Informe o seu telefone.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>E-mail:</label>
                        <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Por favor, informe o seu e-mail." placeholder="Informe o seu e-mail.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Mensagem:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" name="message" required data-validation-required-message="Por favor, deixe a sua mensagem." maxlength="999" style="resize:none"  placeholder="Deixe a sua mensagem que entraremos em contato."></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
            </form>
        </div>

    </div>
    <!-- /.row -->
    <hr>

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>

</div>
<!-- /.container -->
