<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Florença Negócios Imobiliários</h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active">Sobre</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="img/historia.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2>Nossa Empresa</h2>
            <blockquote>"Fundada em 1970, a Florença Negócios Imobiliários é uma das primeiras empresas a atuar no mercado imobiliário de Canoas e Região. Atuando fortemente no mercado de locação comercial e residencial, tem sua trajetória marcada pelo atendimento personalizado de seus clientes.”</blockquote>
        </div>
    </div>
    <!-- /.row -->
    <!-- TABS https://codepen.io/jasoncluck/pen/iDcbh -->
    <br/>
    <br/>
    <div class="tabs-container">
		<div class="tab-content" ng-controller="empresaCtrl" ng-class="active">
			<h2 class="page-header">Trabalhe Conosco</h2>
            <p>Faça parte de nossa equipe. Deixe os seus dados que entraremos em contato com você.</p>
            <form name="empresaForm" id="empresaForm" ng-submit="submit(empresaForm)" accept-charset="UTF-8" method="post" role="form" novalidate enctype="application/x-www-form-urlencoded">
                <p ng-class="result" style="padding: 15px; margin: 0; margin-bottom: 10px;">{{ resultMessage }} </p>
                <div class="control-group form-group row">
                    <div class="controls col-sm-8 col-md-8">
                        <label>Nome Completo:<span class="text-danger" ng-if="empresaForm.name.$error.required || empresaForm.name.$invalid"> (requerido)</span></label>
                        <input type="text" class="form-control" ng-model="formData.inputName" id="name" name="name" required data-validation-required-message="Por favor, informe o seu nome." placeholder="Informe o seu nome.">
                        <div ng-if="(empresaForm.name.$touched || empresaForm.$submitted) && empresaForm.name.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.name.$error.required">Por favor, informe o seu nome.</p>
                        </div>
                    </div>
                    <div class="controls col-sm-4">
                        <label>Cargo Pretendido:<span class="text-danger" ng-if="empresaForm.occupation.$error.required || empresaForm.occupation.$invalid"> (requerido)</span></label>
                        <select name="occupation" id="occupation" class="form-control" ng-model="formData.inputCargo" required>
                            <option value="">Selecione</option>
                            <option value="Outro Cargo">Outro Cargo</option>
                            <option value="Administrativo/Financeiro">Administrativo/Financeiro</option>
                            <option value="Assessor de Condomínios">Assessor de Condomínios</option>

                            <option value="Atendente de Locação">Atendente de Locação</option>
                            <option value="Cobrança">Cobrança</option>
                            <option value="Corretor de Imóveis">Corretor de Imóveis</option>
                            <option value="Gerente">Gerente</option>
                            <option value="Officce-Boy">Officce-Boy</option>
                            <option value="Porteiro">Porteiro</option>

                            <option value="Recepcionista/Telefonista">Recepcionista/Telefonista</option>
                            <option value="Secretária">Secretária</option>
                            <option value="Serviços Gerais">Serviços Gerais</option>
                            <option value="Vistoriador de Imóveis">Vistoriador de Imóveis</option>
                            <option value="Zelador">Zelador</option>
                        </select>
                        <div ng-if="(empresaForm.occupation.$touched || empresaForm.$submitted) && empresaForm.occupation.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.occupation.$error.required">Por favor, informe o cargo pretendido.</p>
                        </div>
                    </div>
                </div>
                <div class="control-group form-group row">
                    <div class="controls col-sm-3">
                        <label>Telefone:<span class="text-danger" ng-if="empresaForm.phone.$error.required || empresaForm.phone.$invalid"> (requerido)</span></label>
                        <input type="tel" class="form-control" id="phone" name="phone" ng-model="formData.inputPhone" required placeholder="Informe o seu telefone.">
                        <div ng-if="(empresaForm.phone.$touched || empresaForm.$submitted) && empresaForm.phone.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.phone.$error.required">Por favor, informe o seu telefone.</p>
                        </div>
                    </div>
                    <div class="controls col-sm-3">
                        <label>Celular:<span class="text-danger" ng-if="empresaForm.celular.$error.required || empresaForm.celular.$invalid"> (requerido)</span></label>
                        <input type="tel" class="form-control" id="celular" name="celular" ng-model="formData.inputCelular" required placeholder="Informe o seu celular.">
                        <div ng-if="(empresaForm.celular.$touched || empresaForm.$submitted) && empresaForm.celular.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.celular.$error.required">Por favor, informe o seu celular.</p>
                        </div>
                    </div>
                    <div class="controls col-sm-6">
                        <label>E-mail:<span class="text-danger" ng-if="empresaForm.email.$error.required || empresaForm.email.$invalid"> (requerido)</span></label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="formData.inputEmail" required placeholder="Informe o seu e-mail.">
                        <div ng-if="(empresaForm.email.$touched || empresaForm.$submitted) && empresaForm.email.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.email.$error.required">Por favor, informe o seu e-mail.</p>
                        </div>
                    </div>
                </div>

                <div class="control-group form-group row">
                    <div class="controls col-sm-10">
                        <label>Endereço:<span class="text-danger" ng-if="empresaForm.endereco.$error.required || empresaForm.endereco.$invalid"> (requerido)</span></label>
                        <input type="text" class="form-control" id="endereco" name="endereco" ng-model="formData.inputEndereco" required placeholder="Informe o Endereço (Rua, Avenida e etc).">
                        <div ng-if="(empresaForm.endereco.$touched || empresaForm.$submitted) && empresaForm.endereco.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.endereco.$error.required">Por favor, informe o Endereço (Rua, Avenida e etc).</p>
                        </div>
                    </div>
                    <div class="controls col-sm-2">
                        <label>Número:<span class="text-danger" ng-if="empresaForm.endereco_numero.$error.required || empresaForm.endereco_numero.$invalid"> (requerido)</span></label>
                        <input type="text" class="form-control" id="endereco_numero" name="endereco_numero" ng-model="formData.inputNumero" required placeholder="Informe o número.">
                        <div ng-if="(empresaForm.endereco_numero.$touched || empresaForm.$submitted) && empresaForm.endereco_numero.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.endereco_numero.$error.required">Por favor, informe o número.</p>
                        </div>
                    </div>
                </div>

                <div class="control-group form-group row">
                    <div class="controls col-sm-3">
                        <label>Complemento:</label>
                        <input type="text" class="form-control" id="endereco_complemento" name="endereco_complemento" ng-model="formData.inputComplemento" placeholder="Informe o complemento do endereço.">
                    </div>
                    <div class="controls col-sm-3">
                        <label>Bairro:<span class="text-danger" ng-if="empresaForm.bairro.$error.required || empresaForm.bairro.$invalid"> (requerido)</span></label>
                        <input type="text" class="form-control" id="bairro" name="bairro" ng-model="formData.inputBairro" required placeholder="Informe o bairro.">
                        <div ng-if="(empresaForm.bairro.$touched || empresaForm.$submitted) && empresaForm.bairro.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.bairro.$error.required">Por favor, informe o bairro.</p>
                        </div>
                    </div>
                    <div class="controls col-sm-4">
                        <label>Cidade:<span class="text-danger" ng-if="empresaForm.cidade.$error.required || empresaForm.cidade.$invalid"> (requerido)</span></label>
                        <input type="text" class="form-control" id="cidade" name="cidade" ng-model="formData.inputCidade" required placeholder="Informe a cidade.">
                        <div ng-if="(empresaForm.cidade.$touched || empresaForm.$submitted) && empresaForm.cidade.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.cidade.$error.required">Por favor, informe a cidade.</p>
                        </div>
                    </div>
                    <div class="controls col-sm-2">
                        <label>Estado:<span class="text-danger" ng-if="empresaForm.uf.$error.required || empresaForm.uf.$invalid"> (requerido)</span></label>
                        <select name="uf" id="uf" ng-model="formData.inputUf" class="form-control" required>
                        	<option value="">Selecione</option>
                        	<option value="AC">AC</option>
                        	<option value="AL">AL</option>
                        	<option value="AM">AM</option>
                        	<option value="AP">AP</option>
                        	<option value="BA">BA</option>
                        	<option value="CE">CE</option>
                        	<option value="DF">DF</option>
                        	<option value="ES">ES</option>
                        	<option value="GO">GO</option>
                        	<option value="MA">MA</option>
                        	<option value="MG">MG</option>
                        	<option value="MS">MS</option>
                        	<option value="MT">MT</option>
                        	<option value="PA">PA</option>
                        	<option value="PB">PB</option>
                        	<option value="PE">PE</option>
                        	<option value="PI">PI</option>
                        	<option value="PR">PR</option>
                        	<option value="RJ">RJ</option>
                        	<option value="RN">RN</option>
                        	<option value="RS" selected="selected">RS</option>
                        	<option value="RO">RO</option>
                        	<option value="RR">RR</option>
                        	<option value="SC">SC</option>
                        	<option value="SE">SE</option>
                        	<option value="SP">SP</option>
                        	<option value="TO">TO</option>
                         </select>
                        <div ng-if="(empresaForm.uf.$touched || empresaForm.$submitted) && empresaForm.uf.$invalid" class="has-error">
                            <p class="help-block" ng-if="empresaForm.uf.$error.required">Por favor, selecione a UF.</p>
                        </div>
                    </div>
                </div>
                <div class="control-group form-group row">
                    <div class="controls col-sm-12">
                        <label>Currículo:</label>
                        <div class="controls col-sm-4">
                             <button type="file"
                                     ngf-select="uploadFiles($file, $invalidFiles)"
                                     accept="application/msword, application/pdf"
                                     ngf-max-height="1000"
                                     ngf-max-size="20MB"
                                     class="btn btn-default">Selecionar arquivo</button>
                        </div>
                        <div class="controls col-sm-8">
                              <label>Arquivo Selecionado:</label>
                              <div style="font:smaller">
                                  {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                  <span class="progress" ng-show="f.progress >= 0">
                                      <div style="width:{{f.progress}}%" ng-bind="f.progress + '%' + ' enviado !'"></div>
                                  </span>
                              </div>
                             {{errorMsg}}
                        </div>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <div class="control-group form-group row">
                    <div class="controls col-sm-12">
                        <button type="submit" class="btn btn-primary" ng-disabled="submitButtonDisabled || empresaForm.$invalid">Enviar dados</button>
                    </div>
                </div>
            </form>
		</div>

	</div>

    <hr>

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>

</div>
<!-- /.container -->
