<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Florença Negócios Imobiliários</h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="#/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li class="active">Sobre</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="img/historia.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h2>Nossa Empresa</h2>
            <blockquote>"Fundada em 1970, a Florença Negócios Imobiliários é uma das primeiras empresas a atuar no mercado imobiliário de Canoas e Região. Atuando fortemente no mercado de locação comercial e residencial, tem sua trajetória marcada pelo atendimento personalizado de seus clientes.”</blockquote>
        </div>
    </div>
    <!-- /.row -->
    <!-- TABS https://codepen.io/jasoncluck/pen/iDcbh -->
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12" ng-init="tab=1">
            <ul class="tabs-nav">
              <li><a ng-click="tab=1" ng-class="{'active' : tab==1}">Missão</a></li>
              <li><a ng-click="tab=2" ng-class="{'active' : tab==2}">Valores</a></li>
              <li><a ng-click="tab=3" ng-class="{'active' : tab==3}">Trabalhe Conosco</a></li>
            </ul>
        </div>
    </div>

	<div class="tabs-container">
		<div class="tab-content" ng-show="tab == 1">
			<h2 class="page-header">Missão</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolores laborum doloribus iusto quaerat dicta nemo aperiam. Voluptas repudiandae, enim, illum perspiciatis harum officia inventore iusto fugit, repellat asperiores maiores.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolores laborum doloribus iusto quaerat dicta nemo aperiam. Voluptas repudiandae, enim, illum perspiciatis harum officia inventore iusto fugit, repellat asperiores maiores.</p>
		</div>

		<div class="tab-content" ng-show="tab == 2">
			<h2 class="page-header">Valores</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit dolorem quae, quo nobis omnis? Officia quibusdam quaerat assumenda ipsam, et quos laborum quae ex iste numquam laboriosam obcaecati iure.</p>
		</div>

		<div class="tab-content" ng-show="tab == 3">
			<h2 class="page-header">Trabalhe Conosco</h2>
            <p>Faça parte de nossa equipe. Deixe os seus dados que entraremos em contato com você.</p>
            <form name="sentMessage" id="contactForm" accept-charset="UTF-8" method="post" action="bin/contact_me.php">
                <div class="control-group form-group">
                    <div class="controls col-sm-8">
                        <label>Nome Completo:</label>
                        <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Por favor, informe o seu nome." placeholder="Informe o seu nome.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-4">
                        <label>Cargo Pretendido:</label>
                        <select name="occupation" id="occupation" class="form-control" required data-validation-required-message="Por favor, informe o cargo pretendido.">
                            <option value="">Selecione</option>
                            <option value="Outro Cargo">Outro Cargo</option>
                            <option value="Administrativo/Financeiro">Administrativo/Financeiro</option>
                            <option value="Assessor de Condomínios">Assessor de Condomínios</option>

                            <option value="Atendente de Locação">Atendente de Locação</option>
                            <option value="Cobrança">Cobrança</option>
                            <option value="Corretor de Imóveis">Corretor de Imóveis</option>
                            <option value="Gerente">Gerente</option>
                            <option value="Officce-Boy">Officce-Boy</option>
                            <option value="Porteiro">Porteiro</option>

                            <option value="Recepcionista/Telefonista">Recepcionista/Telefonista</option>
                            <option value="Secretária">Secretária</option>
                            <option value="Serviços Gerais">Serviços Gerais</option>
                            <option value="Vistoriador de Imóveis">Vistoriador de Imóveis</option>
                            <option value="Zelador">Zelador</option>
                        </select>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls col-sm-3">
                        <label>Telefone:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Por favor, informe o seu telefone." placeholder="Informe o seu telefone.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-3">
                        <label>Celular:</label>
                        <input type="tel" class="form-control" id="celular" name="celular" required data-validation-required-message="Por favor, informe o seu celular." placeholder="Informe o seu celular.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-6">
                        <label>E-mail:</label>
                        <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Por favor, informe o seu e-mail." placeholder="Informe o seu e-mail.">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls col-sm-10">
                        <label>Endereço:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" required data-validation-required-message="Por favor, informe o cargo pretendido." placeholder="Informe o cargo pretendido.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-2">
                        <label>Número:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" required data-validation-required-message="Por favor, informe o cargo pretendido." placeholder="Informe o cargo pretendido.">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls col-sm-3">
                        <label>Complemento:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" required data-validation-required-message="Por favor, informe o cargo pretendido." placeholder="Informe o cargo pretendido.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-3">
                        <label>Bairro:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" required data-validation-required-message="Por favor, informe o cargo pretendido." placeholder="Informe o cargo pretendido.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-4">
                        <label>Cidade:</label>
                        <input type="text" class="form-control" id="cargo" name="cargo" required data-validation-required-message="Por favor, informe o cargo pretendido." placeholder="Informe o cargo pretendido.">
                        <p class="help-block"></p>
                    </div>
                    <div class="controls col-sm-2">
                        <label>Estado:</label>
                        <select name="uf" id="uf" class="form-control" required data-validation-required-message="Por favor, informe o cargo pretendido." >
                        	<option value="">Selecione</option>
                        	<option value="AC">AC</option>
                        	<option value="AL">AL</option>
                        	<option value="AM">AM</option>
                        	<option value="AP">AP</option>
                        	<option value="BA">BA</option>
                        	<option value="CE">CE</option>
                        	<option value="DF">DF</option>
                        	<option value="ES">ES</option>
                        	<option value="GO">GO</option>
                        	<option value="MA">MA</option>
                        	<option value="MG">MG</option>
                        	<option value="MS">MS</option>
                        	<option value="MT">MT</option>
                        	<option value="PA">PA</option>
                        	<option value="PB">PB</option>
                        	<option value="PE">PE</option>
                        	<option value="PI">PI</option>
                        	<option value="PR">PR</option>
                        	<option value="RJ">RJ</option>
                        	<option value="RN">RN</option>
                        	<option value="RS">RS</option>
                        	<option value="RO">RO</option>
                        	<option value="RR">RR</option>
                        	<option value="SC">SC</option>
                        	<option value="SE">SE</option>
                        	<option value="SP">SP</option>
                        	<option value="TO">TO</option>
                         </select>
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls col-sm-12">
                        <label>Currículo:</label>
                         <input type="file" id="exampleInputFile" name="name" required data-validation-required-message="Por favor, informe o seu nome."/>
                         <p class="help-block"></p>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
		</div>

	</div>

    <!--

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Missão</h2>
        </div>
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Valores</h2>
        </div>
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Trabalhe Conosco</h2>
        </div>
        <div class="col-lg-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
    </div>
    -->
    <hr>

    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>

</div>
<!-- /.container -->
