<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" ng-repeat="p in active_banners track by p.id" data-slide-to="{{::$index}}" ng-class="{active: $index == 0}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-repeat="banner in active_banners track by banner.id" ng-class="{active: $index == 0}">
                <div class="fill" style="background-image:url('{{::banner.src}}');"></div>
                <div class="carousel-caption">
                    <h2>{{::banner.caption}}</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" onclick="return false;">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" onclick="return false;">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12 text-right" style="padding-top: 20px;">
                <a href="#" title="Visite nossa página no Google +." class="social-link">
                    <div class="social google-pluse">
                        <i class="fa fa-google-plus fa-5x"></i>
                    </div>
                </a>
                <a href="#" title="Visite nossa página no Facebook." class="social-link">
                    <div class="social facebook">
                        <i class="fa fa-facebook fa-5x"></i>
                    </div>
                </a>
                <a href="#" title="Siga-nos no Twitter." class="social-link">
                    <div class="social twitter">
                        <i class="fa fa-twitter fa-5x"></i>
                    </div>
                </a>
                <a href="#" title="Visite nosso canal no Youtube." class="social-link">
                    <div class="social youtube">
                        <i class="fa fa-youtube fa-5x"></i>
                    </div>
                </a>
            </div>
            <div class="col-lg-12 text-center">
                <img src="img/logo.png" style="margin-top: 30px;" />
            </div>
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{::welcome_message}}
                </h1>
            </div>
            <div class="col-lg-12">
                <blockquote>"Fundada em 1970, a Florença Negócios Imobiliários é uma das primeiras empresas a atuar no mercado imobiliário de Canoas e Região. Atuando fortemente no mercado de locação comercial e residencial, tem sua trajetória marcada pelo atendimento personalizado de seus clientes.”</blockquote>
            </div>

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center"></div>
        </div>
        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-danger btn-lg">133 imóveis cadastrados em nosso site !</button>
            </div>
            <div class="col-lg-12">
                <h2 class="page-header">Em Destaque</h2>
                <p>Aqui estão os nossos principais imóveis em destaque !</p>
            </div>
            <div class="col-md-4 col-sm-6" ng-repeat="destaque in imoveis_in_destaq track by destaque.id">
                <a href="#/imovel/{{::destaque.href}}" title="Cod.: {{::destaque.code}} - {{::destaque.title}}">
                    <img class="img-responsive img-portfolio img-hover"
                         ng-src="{{::destaque.src}}"
                         style="width: 360px; height: 231px;"
                         alt="Foto do Imóvel: Cod.: {{::destaque.code}} - {{::destaque.title}}"
                         title="Foto de Frente do Imóvel {{::destaque.code}} - {{::destaque.title}}" />
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Facilidades para você:</h2>
            </div>
            <div class="col-md-6">
                <p>Processo simplificado:</p>
                <ul>
                    <li><strong>Envie a documentação online</strong></li>
                    <li>Faça a reserva pelo site</li>
                    <li>Agende a visita online</li>
                    <li>Tire suas dúvidas pelo nosso Chat</li>
                    <li>Ou venha tomar um café consco</li>
                    <li>Ambiente climatizado</li>
                </ul>
                <p>{{facilidades_message}}</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="img/foto_01_700x450.jpg" alt="Foto das Facilidades." title="Conheça as nossas Facilidades." />
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p class="default">{{::ligue_para_nos_message}}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-primary btn-block" href="#" title="Deixe o seu número que ligamos para você.">Ligamos para você</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer ng-include="'view/footer.html'"></footer>

    </div>
    <!-- /.container -->
