<!-- Page Content -->
<div class="container well">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{finalidadeImovel}} <small> - {{tipoImovel}} para {{finalidadeImovelDesc}}.</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home fa-1x"></i><a href="/home" title="Página Inicial do site da Imobiliária Florença."> Inicio</a></li>
                <li>{{finalidadeImovel}}</li>
                <li class="active">{{tipoImovel}}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Filters -->
    <div class="row">
        <div class="col-md-12">
            <h4>Filtro de Pesquisa:</h4>
        </div>
        <div class="col-md-12">
            <form name="searchForm"
                  id="searchForm"
                  ng-submit="submit(searchForm)"
                  accept-charset="UTF-8"
                  class="form-inline"
                  method="post"
                  role="form">
                <div class="table-responsive">
                    <table border="0" cellspacing="0" cellpadding="0" class="table">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <input name="cod_imovel"
                                           id="cod_imovel"
                                           ng-model="formData.cod_imovel"
                                           type="text"
                                           class="form_int form-control"
                                           size="10"
                                           maxlength="10"
                                           placeholder="Código"
                                           title="Código do Imóvel para pequisa."
                                           autofocus
                                           tabindex="1" />
                                </td>
                                <td align="left">
                                    <select id="modalidade"
                                            name="modalidade"
                                            ng-model="formData.modalidade"
                                            class="form_int form-control default"
                                            title="Modalidade de utilização do imóvel !."
                                            tabindex="2">
                                        <option value="">[Modalidade]</option>
                                        <option value="Residencial">Residêncial</option>
                                        <option value="Comercial">Comercial</option>
                                    </select>
                                </td>
                                <td align="left">
                                    <select id="cidade"
                                            name="cidade"
                                            class="form_int form-control default"
                                            ng-model="formData.cidade"
                                            title="Cidade de localização do imóvel."
                                            tabindex="3">
                                        <option value="" selected>[Cidade]</option>
                                        <option>Canoas</option>
                                        <option>Porto Alegre</option>
                                        <option>Sapucaia</option>
                                        <option>Esteio</option>
                                    </select>
                                </td>
                                <td align="left">
                                    <input id="bairro"
                                           name="bairro"
                                           type="text"
                                           class="form_int form-control"
                                           ng-model="formData.bairro"
                                           size="15"
                                           maxlength="65"
                                           placeholder="Informe o Bairro"
                                           title="Bairro de localização do imóvel."
                                           tabindex="4" />
                                </td>
                                <td align="left">
                                    <select id="dorm"
                                            name="dorm"
                                            class="form_int form-control text-right default"
                                            ng-model="formData.dorm"
                                            title="Nº de dormitórios do imóvel."
                                            tabindex="5">
                                        <option value="" selected>[Nª Dorm.]</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                    </select>
                                </td>
                                <td align="left">
                                    <select id="vlr_ini"
                                            name="vlr_ini"
                                            class="form_int form-control money_filter_field"
                                            ng-model="formData.vlr_ini"
                                            title="Valor mínimo do imóvel."
                                            tabindex="6">
                                        <option value="" selected>[Valor Mín.]</option>
                                        <option value="100">R$ 100,00</option>
                                        <option value="500">R$ 500,00</option>
                                        <option value="1000">R$ 1.000,00</option>
                                        <option value="2000">R$ 2.000,00</option>
                                        <option value="3000">R$ 3.000,00</option>
                                        <option value="5000">R$ 5.000,00</option>
                                        <option value="10000">R$ 10.000,00</option>
                                        <option value="50000">R$ 50.000,00</option>
                                        <option value="100000">R$ 100.000,00</option>
                                        <option value="200000">R$ 200.000,00</option>
                                        <option value="300000">R$ 300.000,00</option>
                                        <option value="500000">R$ 500.000,00</option>
                                        <option value="1000000000">R$ 1.000.000,00</option>
                                        <option value="10000000000">R$ 10.000.000,00</option>
                                    </select>
                                </td>
                                <td align="left">
                                    <select id="vlr_fim"
                                            name="vlr_fim"
                                            class="form_int form-control money_filter_field"
                                            ng-model="formData.vlr_fim"
                                            title="Valor máximo do imóvel."
                                            tabindex="7">
                                        <option value="" selected>[Valor Máx.]</option>
                                        <option value="100">R$ 100,00</option>
                                        <option value="500">R$ 500,00</option>
                                        <option value="1000">R$ 1.000,00</option>
                                        <option value="2000">R$ 2.000,00</option>
                                        <option value="3000">R$ 3.000,00</option>
                                        <option value="5000">R$ 5.000,00</option>
                                        <option value="10000">R$ 10.000,00</option>
                                        <option value="50000">R$ 50.000,00</option>
                                        <option value="100000">R$ 100.000,00</option>
                                        <option value="200000">R$ 200.000,00</option>
                                        <option value="300000">R$ 300.000,00</option>
                                        <option value="500000">R$ 500.000,00</option>
                                        <option value="1000000000">R$ 1.000.000,00</option>
                                        <option value="10000000000">R$ 10.000.000,00</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="submit"
                                            class="btn btn-primary fa fa-search fa-1x"
                                            title="Realizar a Pesquisa !."></button>
                                    <button type="button"
                                            class="btn btn-primary fa fa-refresh fa-1x"
                                            ng-click="reset()"
                                            title="Limpar os campos de Pesquisa !."></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!-- Filters -->
    <div class="row" style="background-color: #fcfcfc;">
        <div class="col-md-12">
            <h4 class="text-center" ng-if="filtros_aplicados">
                Filtros aplicados: <span class="filter_result" ng-bind-html="filtros_aplicados | escapeHtml"></span>(<strong>{{total_itens}}</strong> imóveis).</h4>
            <h4 class="text-center" ng-if="!filtros_aplicados">Sem filtros aplicados ! (<strong>{{total_itens}}</strong> imóveis)</h4>
        </div>
    </div>
    <!-- Project One -->
    <div class="row well results_search font-small" ng-repeat="item in imoveis" ng-if="imoveis">
        <div class="col-md-7">
            <a href="/detalhe-imovel/{{::item.imovel.slug}}" title="Veja os detalhes do imóvel:">
                <img class="img-responsive img-hover"
                     ng-src="{{root_url}}/media/{{::item.resource_path}}"
                     alt="Foto do Imóvel: Cod.: {{::item.imovel.codigo}}"
                     title="Foto de Destaque do Imóvel {{::item.imovel.codigo}}"
                     ng-if="item.tipo_recurso == 'Foto' && item.uploaded" />
                <img class="img-responsive img-hover"
                     ng-src="{{::item.resource_path}}"
                     alt="Foto do Imóvel: Cod.: {{::item.imovel.codigo}}"
                     title="Foto de Destaque do Imóvel {{::item.imovel.codigo}}"
                     ng-if="item.tipo_recurso == 'Foto' && ! item.uploaded" />
            </a>
        </div>
        <div class="col-md-5">
            <h4 style="color:navy;font-weight:bold;">
                <i class="fa fa-barcode fa-1x"></i> Código: {{::item.imovel.codigo}}
            </h4>
            <p ng-bind-html="item.imovel.descricao | escapeHtml" class="result_description"></p>
            <p class="result_description" ng-if="item.imovel.finalidade_venda == 'S' && item.imovel.valor_venda">Valor Venda: <span style="color:red"><strong>{{::item.imovel.valor_venda|currency:"R$ ":2}}</strong></span></p>
            <button type="button" class="btn btn-danger btn-md" ng-if="item.imovel.disponivel == 'R'">Reservado</button>
            <a class="btn btn-primary pull-right" href="/detalhe-imovel/{{::item.imovel.slug}}" title="Veja os detalhes do imóvel:">Ver detalhes</i></a>
        </div>
    </div>
    <hr>
    <div class="row" ng-if="imoveis.length == 0">
        <div class="col-md-12 text-center">
            <h2 class="no_results">Sem registros !</h2>
        </div>
    </div>
    <hr>
    <!-- Pagination
    <div class="row text-center">
    <div class="col-lg-12">
    <ul class="pagination">
    <li>
    <a href="#">&laquo;</a>
</li>
<li class="active">
<a href="#">1</a>
</li>
<li>
<a href="#">2</a>
</li>
<li>
<a href="#">3</a>
</li>
<li>
<a href="#">4</a>
</li>
<li>
<a href="#">5</a>
</li>
<li>
<a href="#">&raquo;</a>
</li>
</ul>
</div>
</div-->
<!-- /.row -->
    <!-- Footer -->
    <footer ng-include="'view/footer.html'"></footer>
</div>
<!-- /.container -->
