<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Imobiliária Florença</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="empresa.html" title="Conheça a nossa empresa.">Empresa</a>
        </li>
        <li class="dropdown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown"
               title="Imóveis para Venda">Vendas <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="casas-vendas.html" title="Casas para venda.">Casas</a>
                </li>
                <li>
                    <a href="apartamento-vendas.html" title="Apartamentos para venda.">Apartamentos</a>
                </li>
                <li>
                    <a href="terrenos-vendas.html" title="Terrenos para venda.">Terrenos</a>
                </li>
                <li>
                    <a href="lojas-vendas.html" title="Lojas para venda.">Lojas</a>
                </li>
                <li>
                    <a href="pavilhoes-vendas.html" title="Pavilhões para venda.">Pavilhões</a>
                </li>
                <li>
                    <a href="salas-comerciais-vendas.html" title="Salas Comerciais para venda.">Salas Comerciais</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Imóveis para Locação.">Locações <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="casas-locacoes.html" title="Casas para locação.">Casas</a>
                </li>
                <li>
                    <a href="apartamento-locacoes.html" title="Apartamentos para locação.">Apartamentos</a>
                </li>
                <li>
                    <a href="salas-comerciais-locacoes.html" title="Salas Comerciais para locação.">Salas Comerciais</a>
                </li>
                <li>
                    <a href="lojas-locacoes.html" title="Lojas para locação.">Lojas</a>
                </li>
                <li>
                    <a href="pavilhoes-locacoes.html" title="Pavilhões para locação.">Pavilhões</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="como-vender.html" title="Como vender seu imóvel conosco.">Como Vender</a>
        </li>
        <li>
            <a href="como-alugar.html" title="Como alugar seu imóvel conosco.">Como Alugar</a>
        </li>
        <li>
            <a href="cadastro-imovel.html" title="Cadastre o seu imóvel conosco.">Cadastre seu imovel</a>
        </li>
        <li>
            <a href="contato.html" title="Deixe sua mensagem">Contato</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
